@model MyPortfolio.Models.TblBanner
@{
    ViewBag.Title = "Create Banner";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Create New Banner</h2>
<form method="post" enctype="multipart/form-data">
 

    <br />

    <div>
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>

    <br />

    <div>
        <label>Description</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>

    <br />

    

    <br />



    <button class="btn btn-outline-primary">Save</button>
</form>
