@model MyPortfolio.Models.TblExpertis
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Create Expertise</h2>

<form method="post">
    <label>
        Expertise Title
    </label>
    <input type="text" name="Title" class="form-control" />
    <button class="btn btn-primary"> Save</button>

</form>