@model MyPortfolio.Models.TblExpertis
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Update</h2>

<form method="post">
    @Html.HiddenFor(x => x.ExpertiseId)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>

</form>
